@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #090909 16.62%, #085783 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-logo {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap:  32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px
}

.conteudo {
margin-bottom: 48px;
border-top: 0.4px solid #FFFFFF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.conteudo-principal-escrito-botao {
    background-color: #FFFFFF;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(68, 134, 200, 0.25);
}

.conteudo-principal-imagem {
    height: 400px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFFFFF;
}

.rodape-imagem {
    height: 20px;
    display: block;
    margin: 0 auto;

}

/* COMANDOS */

.cabecalhoCMD {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 70px;
}

.conteudo-principal-cmd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    color: #FFFFFF;
}

.conteudo-cmds-slash {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
}

p{
    color: white;
}

.section1 {
    max-width: 90rem;
    margin: 0 auto;
}

.div1 {
    width: auto;
    height: auto; 
    display: inline-block; 
    padding: 30px;
}

.div2 {
    position: absolute; /* topo*/
    width: auto;
    height: auto; /* altura */
    display: inline-block;  /* deixa um ao lado do outro */
    padding: 30px;
    margin-left: 10px; /* deixa o espaço entre os 2 blocos */ 
}

.div3 {
    position: absolute; /* topo*/
    width: auto;
    height: auto; /* altura */
    display: inline-block;  /* deixa um ao lado do outro */
    padding: 30px;
    margin-left: 680px; /* deixa o espaço entre os 2 blocos */ 
}

.titulo{
    color: #FFFFFF;
    font-size: 34px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.CMD {
    display: block;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

/* popup */

.popup{
    position: fixed;
    top: 0; bottom: 0; 
    left: 0; right:0;
    margin: auto;
    width: 790px;
    height: 480px;
    padding: 15px;
    border: solid 1px #ffffff;
    background: linear-gradient(68.15deg, #090909 16.62%, #085783 85.61%);
    display: none;
    border-radius: 10PX;
}

.fechar {
    width: 20px;
    height: 20px;
    margin-left: 740px;
    margin-top: 0;
    border-radius: 10px;
    cursor: pointer;
}

.btn {
    margin-left: 5px;
    margin-top: 1px;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Times New Roman';
}

.gif{
     width: auto;
     margin-left: 50px;
     border-radius: 10px;
     border: solid 1px #010a0f
}

.descricao {
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 300px;
    width: 160px;
}
